USE [master]
GO
/****** Object:  Database [CRUD]    Script Date: 21/01/2021 12:26:59 ******/
CREATE DATABASE [CRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CRUD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CRUD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD]
GO
/****** Object:  User [tbarreto]    Script Date: 21/01/2021 12:27:00 ******/
CREATE USER [tbarreto] FOR LOGIN [tbarreto] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [tbarreto]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [tbarreto]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [tbarreto]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [tbarreto]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [tbarreto]
GO
ALTER ROLE [db_datareader] ADD MEMBER [tbarreto]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [tbarreto]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [tbarreto]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [tbarreto]
GO
/****** Object:  Table [dbo].[contato]    Script Date: 21/01/2021 12:27:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contato](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL,
	[celular] [varchar](20) NULL,
	[telefone] [varchar](20) NULL,
 CONSTRAINT [PK_contato] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
